/*fonts*/
/* commissioner-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/commissioner-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* commissioner-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/commissioner-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*fonts*/

/* Basic Styling */
body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  width: 100%;
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 15px 10%;
  border-bottom: 1px solid #e0e0e0;
}

.logo_container {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.fw-bold {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

.header_title_container {
  display: flex;
  gap: 30px;
}

.header_text {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.header_text:hover {
  color: #007bff;
}

/*INDEX PAGE*/
.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
  max-width: 800px;
  margin: 20px auto;
}

.card_img {
  width: 40%;
  border-radius: 10px;
}

.card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.card_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card_text {
  font-size: 1rem;
  margin-bottom: 15px;
}

.card_button_container {
  text-align: left;
  margin-top: 20px;
}

.card_button_text {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e59866;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.card_button_text:hover {
  background-color: #d35400;
}

/*INDEX PADE*/

/* Partners */

.partners {
  display: flex;
  flex-wrap: wrap; /* Allow for wrapping on smaller screens */
  justify-content: space-around;
  gap: 30px; /* Gap between elements */
  margin-bottom: 40px;
}

.partner {
  text-align: center;
  flex: 1 1 30%; /* Responsive flex item */
  max-width: 300px; /* Limit the max width */
}

.partner-logo {
  max-height: 150px; /* Adjusted to maintain aspect ratio */
  margin-bottom: 10px;
}

.partner-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.partner-description {
  font-size: 1.2rem;
  color: #555;
}

main {
  padding: 50px 10%;
  background-color: #f5f5f5;
}

.main_text {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.sub_text {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
}

/* CONTACTS */

/* Contact section styling */
.contact-details {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  text-align: center;
}

.contact-item {
  max-width: 200px;
}

.contact-item img {
  display: block;
  margin: 0 auto 10px;
}

.contact-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
}

.contact-info {
  font-size: 1.1rem;
  color: #555;
}

/* Google Map section */
.map-container {
  text-align: center;
  margin: 40px 0;
}

iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border: none;
}

/* Contact form styling */
.contact-form {
  width: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.input-group input,
.input-group textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #179778;
  border-radius: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #DA9F73;
  border: none;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Personal Data */
#personal_data main {
  display: flex;
  gap: 20px;
  padding: 20px 10%;
}

#personal_data section {
  flex: 1;
  padding: 10px;
}
#personal_data aside {
  flex-basis: 25%;
  background-color: #f4f4f4;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#personal_data .nav-link{
  background-color: #202B49;
  text-decoration: none;
  color: white;
}

#personal_data .nav-link:hover{
  background-color: #404B69;
}

#personal_data .content-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#personal_data h1 {
  font-size: 2.5rem;
  color: #202B49;
  margin-bottom: 20px;
}

#personal_data h2 {
  color: #333;
  margin-bottom: 10px;
}
#personal_data ul {
  list-style-type: none;
  padding: 0;
}

#personal_data ul li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

#personal_data ul li a {
  color: #DA9F73;
  text-decoration: none;
}

#personal_data textarea {
  resize: vertical;
  border-color: #179778;
}

/* About us */

#about_us main {
  display: flex;
  padding: 20px;
}

#about_us section {
  width: 90%;
  padding: 10px;
  margin-left: 50px;
}

#about_us h2, h3 {
  color: black;
  padding-bottom: 10px;
}

#about_us p, ul {
  margin-left: 20px;
}

#about_us ul {
  padding-left: 30px;
  list-style-type: none;
}

/* Footer styling */
footer {
  background-color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none !important;
}

.footer-links a {
  text-decoration: none;
  color: #333 !important;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

.back-to-top {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}

.back-to-top:hover {
  color: #007bff;
}
